{
  "parser": "babel-eslint",
  "rules": {
    "eqeqeq": 2,
    "curly": [ "error", "all" ],
    "quotes": [ "error", "double" ],
    "no-loss-of-precision": 2,
    "no-template-curly-in-string": 2,
    "array-callback-return": 2,
    "complexity": [ "error", 5 ],
    "default-case": 2,
    "default-case-last": 2,
    "default-param-last": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-constructor-return": 2,
    "no-empty-function": 2,
    "no-empty-pattern": 2,
    "no-eq-null": 2,
    "no-extend-native": 2,
    "no-fallthrough": 0,
    "no-implicit-globals": 2,
    "no-implied-eval": 2,
    "no-invalid-this": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-magic-numbers": 0,
    "no-multi-spaces": [ "error",
      {
        "exceptions": {
          "Property": true,
          "VariableDeclarator": true,
          "ImportDeclaration": true
        }
      }
    ],
    "no-multi-str": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-param-reassign": 2,
    "no-redeclare": 2,
    "no-return-assign": 0,
    "no-script-url": 2,
    "no-self-assign": 2,
    "no-self-compare": 2,
    "no-unused-expressions": 1,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-void": 2,
    "require-await": 1,
    "vars-on-top": 1,
    "yoda": 2,
    "no-use-before-define": 2,
    "array-bracket-spacing": [ "error", "always" ],
    "block-spacing": [ "error", "always" ],
    "brace-style": [ "error", "1tbs", { "allowSingleLine": true } ],
    "camelcase": 2,
    "comma-dangle": [ "error", "never"],
    "comma-spacing": [ "error", { "before": false, "after": true }],
    "comma-style": [ "error", "last" ],
    "computed-property-spacing": [ "error", "always" ],
    "func-names": [ "error", "never" ],
    "func-style": [ "error", "expression" ],
    "function-call-argument-newline": [ "error", "consistent" ],
    "indent": [ "error", 2 ],
    "key-spacing": ["error", { "align": "colon" }],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "max-depth": ["error", 4],
    "max-len": [ "error", 100 ],
    "max-lines": ["error", {"max": 250, "skipBlankLines": true}],
    "max-nested-callbacks": ["error", 3 ],
    "max-params": [ "error", 4 ],
    "max-statements-per-line": [ "error", { "max": 1 } ],
    "newline-per-chained-call": [ "error", { "ignoreChainWithDepth": 2 } ],
    "no-array-constructor": "error",
    "no-inline-comments": "error",
    "no-multiple-empty-lines": "error",
    "no-new-object": "error",
    "no-tabs": "error",
    "no-trailing-spaces": "error",
    "no-underscore-dangle": "error",
    "object-curly-newline": ["error", { "multiline": true }],
    "semi": ["error", "never"],
    "sort-keys": ["error", "asc"],
    "sort-vars": ["error", { "ignoreCase": true }],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "space-in-parens": ["error", "always", { "exceptions": ["empty"] }],
    "switch-colon-spacing": "error",
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": "error",
    "constructor-super": "error",
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-imports": "error",
    "no-new-symbol": "error",
    "no-this-before-super": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-const": "error",
    "prefer-destructuring": "error",
    "prefer-numeric-literals": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "rest-spread-spacing": ["error", "never"],
    "sort-imports": [2,{ "memberSyntaxSortOrder": [ "all", "single", "multiple", "none" ], "ignoreCase": true } ],
    "symbol-description": "error",
    "template-curly-spacing": ["error", "always"]
  }
}